.form-css {
  margin-top: 10vh;
  height: 40%;
  display: flex;
  flex-direction: row;
  padding-top: 1%;
  justify-content: space-around;
}
.form-container {
  background-color: #353535;
  width: 70%;
  height: 60%;
  padding-top: 2.5%;
  padding-bottom: 3%;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-shadow: 5px 5px 50px#181818;
}
.champ {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.label-style {
  margin-bottom: 8px;
  color: #ffffff;
  font-weight: lighter;
}
.link-style {
  color: #ffffff;
  font-weight: lighter;
  margin-top: 11vh;
}
.dropbtn {
  background-color: #f3ff0a;
  color: #2b2c18;
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  width: 15%;
  border: none;
}
.input-style {
  background-color: #454545;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  height: 35px;
}
.option-style {
  background-color: #454545;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  height: 38px;
  width: 185px;
}

.pre-result-style{
    font-weight:lighter;
    margin-left: 8%;
    color: #ffffff;
}
.result-style{
  
    margin-left: 8%;
    color: #ffffff;
}
@media screen and (max-width: 900px) {
  .form-container {
    background-color: #353535;
    width: 70%;
    height: 60%;
    padding-top: 2.5%;
    padding-bottom: 3%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: space-around;
    box-shadow: 5px 5px 50px#181818;
  }
  .form-css {
    align-self: center;
    align-items: center;
    margin-top: 10vh;
    height: 40%;
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    justify-content: space-around;
  }
  .dropbtn {
    background-color: #f3ff0a;
    color: #2b2c18;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 5%;
    width: 45%;
    border: none;
  }
}